# Creating a TESS proposal target list for ARK

This tool is provided by the TESS Science Support team to assist the community in planning and proposing.

As part of the [TESS General Observer proposal](https://heasarcdev.gsfc.nasa.gov/docs/tess/proposing-investigations.html) if you are requesting 2-min or 20-sec cadenced observations, you are required to either submit your targets individually (if less than ~50 objects) or upload a target file to [ARK](https://heasarc.gsfc.nasa.gov/ark/tess/). This has target file has certain [requirements](https://heasarc.gsfc.nasa.gov/ark/tess/help.html#TARGET), one of which is for each object to have a TIC ID, where possible.

To aid in the creation of this file and to ensure that it meets the requirements necessary, we have developed the tool below. This tool will take an input CSV containing at minimum a list IDs and/or R.A's and Dec's (or a mix of both) for your objects of interest, and will and crossmatch them with the TESS Input Catalog (TIC) to return a CSV file which is compatible for submission to [ARK](https://heasarc.gsfc.nasa.gov/ark/tess/).

For example, if you are submitting targets and have R.A and Dec. values for each target, submit a CSV file containing the R.A and Dec's as columns and the tool will return a CSV file with the nearest cross matches in the TIC.

Note additional information you may include within your input CSV file is listed below - your input CSV should contain a subset of these columns, with at least a TIC ID for each object, or an R.A and Dec.

## Requirements 

To run this tool you need the following python packages

- [Numpy](https://numpy.org/) for manipulating data
- [Pandas](https://pandas.pydata.org/) for data frame work
- [lksearch](https://lightkurve.github.io/lksearch/) for searching the TIC
- [tesswcs](https://pypi.org/project/tesswcs/) for the TESS word coordinate system
- [tessproposaltool](https://github.com/tessgi/tessproposaltool) a package that reads you CSV file and outputs the CSV for ARK

You can import these or pip install them as shown below

In [1]:
import numpy as np
import pandas as pd
import astropy
import sys, os

In [2]:
#You may not have tesswcs installed already - if so please install via pip!pip install tesswcs
!pip install tesswcs --quiet
import tesswcs

In [3]:
#You may not have lksearch installed already - if so please install via !pip install lksearch
!pip install lksearch --quiet
import lksearch

In [4]:
#You may not have tessproposaltool installed already - if so please install via !pip install tessproposaltool
!pip install tessproposaltool --quiet
import tessproposaltool 
from tessproposaltool import create_target_list

## Read in your csv file 
Next we are going to read in your CSV file and convert it into a pandas dataframe.
For now are are going to use some of the files in test.

In [5]:
filename = "data/test_mix_radectic.csv"
df = pd.read_csv(filename)
#You can view your input array by commenting out the line below
df

         ra      dec   tmag          tic
0   40.2986  56.7305   9.39  245701221.0
1  110.0930 -22.2673  13.51          NaN
2  116.2430 -30.0918   9.50  149605432.0
3  152.6330 -59.3549  10.05          NaN
4  163.4370 -58.4871   9.91  459811015.0
5       NaN      NaN    NaN  466105108.0

In [6]:
outdf = create_target_list(df)
#You can view your output array by commenting out the line below
outdf

TIC and ra/dec supplied: ignoring RA, DEC and using TIC to construct target list

`name` not found in input dataframe - assuming: null

`extended` not found in input dataframe - assuming: N

`special_handling` not found in input dataframe - assuming: N

`20s_request` not found in input dataframe - assuming: N

`swift_request` not found in input dataframe - assuming: null

`nicer_request` not found in input dataframe - assuming: null

`remarks` not found in input dataframe - assuming: null

,tic,ra,dec,pmra,pmde,tmag,name,extended,special_handling,20s_request,swift_request,nicer_request,remarks
0.0,245701221,40.298647,56.730482,-0.195,2.457,10.010000,<NA>,N,N,N,<NA>,<NA>,<NA>
1.0,5121803,110.096407,-22.264256,-8.702,5.036,14.594000,<NA>,N,N,N,<NA>,<NA>,Crossmatch Parameters: separation: 0.751265563...
2.0,149605432,116.254083,-30.095750,-1.617,2.061,16.040001,<NA>,N,N,N,<NA>,<NA>,<NA>
3.0,462915110,152.632203,-59.349315,-5.179,3.513,13.284000,<NA>,N,N,N,<NA>,<NA>,Crossmatch Parameters: separation: 0.959952163...
4.0,459811015,163.457320,-58.487405,-4.848,0.630,14.870000,<NA>,N,N,N,<NA>,<NA>,<NA>
5.0,466105108,165.088880,-60.764937,-4.049,1.848,16.339001,<NA>,N,N,N,<NA>,<NA>,<NA>

## Convert into a CSV file

We can then convert this into an output CSV file which you can upload to ARK

In [7]:
outfilename = "data/test_mix_radectic_outfile.csv"
outdf.to_csv(outfilename, index=False)